body {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.hero {
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.7);
  max-width: 335px;
  padding-top: 396px;
  padding-bottom: 20px;
  margin: auto;
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url(../img-sect-one/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../img-sect-one/hero-bg2x.jpg);
  }
}

.container-hero {
  width: 335px;
  align-items: center;
  justify-content: center;

  row-gap: 32px;
  display: flex;
  flex-direction: column;
}

.hero-title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.052em;
  max-width: 298px;
  max-height: 72px;
}
.container-hero-button {
  display: flex;
  row-gap: 32px;
  flex-wrap: wrap;
  align-items: center;
}
.list-hero {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 14px;
}

.hero-button-buy {
  border-radius: 100px;
  background: #fd9222;
  padding: 12px 28px;
  align-items: flex-start;

  display: flex;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  border: none;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.75, 0.82, 0.165, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  height: 42px;
}
.hero-button-buy:hover {
  color: #fd9222;
  background: #fcf1e0;
}
.hero-button-how {
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  background-color: transparent;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.75, 0.82, 0.165, 1);
  max-width: 159px;
  max-height: 42px;
}

.hero-button-how:hover {
  border: 1px solid #fd9222;
  color: #fd9222;
}
.container-scroll {
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 5px 10px;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.75, 0.82, 0.165, 1);
  border-radius: 10px;
  max-width: 108px;
  height: 28px;
}
.container-scroll:hover {
  background: #1e1823;
}

.hero-scroll {
  display: flex;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.36px;
  justify-content: flex-end;
}
.icon-link {
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
