body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.benefits {
  padding: 50px 0;
  background-color: #1e1823;
}
.benefits-list {
  display: flex;
  gap: 88px;
}
.benefits-item {
  width: calc((100% - 176px) / 3);
}
.benefits-title {
  margin-bottom: 18px;
  color: var(--white, #fff);

  font-size: 18px;

  font-weight: 600;
  line-height: 22px; /* 122.222% */
}
.benefits-text {
  color: rgba(255, 255, 255, 0.7);

  font-size: 14px;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}
